---
import Grid from "../../components/GridBook.astro";
import MainLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import CoverBook from "@components/CoverBook.astro";

import { SITE_DESCRIPTION } from "../../consts";
const books = (await getCollection("libros")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout
  title="Libros"
  description={SITE_DESCRIPTION}
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <main>
    <section>
      <h1 class="warp">Libros</h1>
    </section>
    <section>
      <Grid>
        {
          books.map((book) => (
            <article class="card">
              <CoverBook
                imagePath={String(book.data.coverBook)}
                altText={book.data.title}
                transition:name=`coverbook ${book.data.title} image`
              />
              <div class="content">
                <a href={`/libros/${book.slug}/`}>
                  <h2>{book.data.title}</h2>
                </a>
              </div>
            </article>
          ))
        }
      </Grid>
    </section>
  </main>
</MainLayout>

<style>
  .warp {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-block: var(--size-fluid-3);
  }

  .content {
    background-color: var(--surface-1);
    border-radius: var(--size-2);
    bottom: var(--size-fluid-1);
    height: max-content;
    left: var(--size-fluid-1);
    margin: var(--size-2);
    opacity: 0;
    padding: var(--size-5) var(--size-6) var(--size-5) var(--size-6);
    position: absolute;
    right: var(--size-fluid-1);
    transform: translateY(100%);
    transition:
      opacity 0.5s,
      transform 0.5s,
      visibility 0s 0.5s;
    visibility: hidden;
  }

  .card {
    background-color: var(--surface-2);
    border: var(--border-size-1) solid var(--surface-2);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
    color: var(--text-2);
    margin-inline: auto;
    overflow: hidden;
    padding: var(--size-fluid-1);
    position: relative;
    transition:
      background-color 0.3s,
      box-shadow 0.3s,
      border-color 0.3s;

    &:hover {
      background-color: var(--surface-1);
      border-color: var(--surface-3);
      box-shadow: var(--shadow-5);
    }

    &:hover .content {
      animation: var(--animation-slide-in-up);
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 0.5s,
        transform 0.5s,
        visibility 0s;
      visibility: visible;
    }
  }

  h2 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-6);
    padding-bottom: 8px;
  }
</style>
