---
import MainLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import CoverBlog from "@components/CoverBlog.astro";
import Pagination from "@components/Pagination.astro";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog");
  const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    currentPage: number;
    lastPage: number;
    url: {
      prev: string | undefined;
      next: string | undefined;
    };
  };
};

const { page } = Astro.props;
---

<MainLayout title="Blog">
  <section>
    <h1 class="warp">Blog</h1>
    <article>
      {page.data.map((post) => (
        <div class="warp">
          <div class="card">
            <div class="card__image container">
              <CoverBlog
                imagePath={String(post.data.heroImage)}
                altText={post.data.title}
              />
            </div>

            <div>
              <FormattedDate date={post.data.pubDate} />
              <h2 class="title">
                <a class="token funtion" href={`/blog/${slugifyStr(post.data.title)}/`}>
                  {post.data.title}
                </a>
              </h2>
              <p class="description">
                {post.data.description}

                <button>
                  <a class="token string" href={`/blog/${slugifyStr(post.data.title)}/`}>
                    Leer mas
                  </a>
                </button>
              </p>
            </div>
          </div>
        </div>
      ))}
    </article>
  </section>
  
  <Pagination 
    currentPage={page.currentPage} 
    totalPages={page.lastPage} 
    prevUrl={page.url.prev} 
    nextUrl={page.url.next}
  />
</MainLayout>

<style>
  h2 {
    max-inline-size: var(--size-header-3);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-5);
    display: inline-flex;
    align-items: center;
    gap: var(--size-3);
    text-wrap: balance;
    padding-bottom: var(--size-fluid-1);
  }
  .warp {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-block: var(--size-fluid-1);
  }

  .card {
    max-width: 52rem;
    box-shadow: var(--shadow-2);
    background-color: var(--surface-2);
    color: var(--text-2);
    padding-left: var(--size-fluid-2);
    padding-right: var(--size-fluid-2);
    padding-top: var(--size-fluid-2);
    padding-bottom: var(--size-fluid-2);
    display: grid;
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    place-content: center;
    grid-gap: 20px;
    border: var(--border-size-1) solid var(--surface-2);
    border-radius: var(--radius-3);
    &:hover {
      border: var(--border-size-1) solid var(--surface-3);
      background-color: var(--surface-1);
      box-shadow: var(--shadow-5);
    }
    img {
      max-width: 100%; /* Asegurarse de que la imagen se ajuste al ancho de la columna */
      height: 14rem;
      width: 18rem;
      object-fit: cover;
      border-radius: var(--radius-3);
    }
  }

  .description {
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-4);
    text-indent: 1rem;
    line-height: var(--font-lineheight-1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .card__image {
    display: grid;
    grid-column: 1;
    grid-gap: 20px;
  }

  .title {
    display: grid;
    grid-column: 1;
    grid-gap: 10px;
    margin-top: 0;
    line-height: --font-lineheight-1;
  }

  @media (min-width: 601px) {
    /* Restaurar la cuadrícula de dos columnas en pantallas más grandes */
    .card {
      grid-template-columns: 5fr 8fr;
    }
  }
</style>
