---
import MainLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import CoverBlog from "@components/CoverBlog.astro";
import Pagination from "@components/Pagination.astro";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog");
  const sortedPosts = posts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
  return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    currentPage: number;
    lastPage: number;
    url: {
      prev: string | undefined;
      next: string | undefined;
    };
  };
};

const { page } = Astro.props;
---

<MainLayout title="Blog">
  <section>
    <h1>Blog</h1>
    <article>
      {
        page.data.map((post) => (
          <div>
            <div>
              <div>
                <CoverBlog
                  imagePath={String(post.data.heroImage)}
                  altText={post.data.title}
                />
              </div>

              <div>
                <FormattedDate date={post.data.pubDate} />
                <h2>
                  <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                </h2>
                <p>
                  {post.data.description}

                  <a href={`/blog/${post.id}/`}>Leer mas</a>
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </article>
  </section>

  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
  />
</MainLayout>
