---
import MainLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import CoverBlog from "@components/CoverBlog.astro";
import Pagination from "@components/Pagination.astro";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog");
  const sortedPosts = posts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
  return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    currentPage: number;
    lastPage: number;
    url: {
      prev: string | undefined;
      next: string | undefined;
    };
  };
};

const { page } = Astro.props;
---

<MainLayout title="Blog">
  <section>
    <h1 class="warp">Blog</h1>
    <article>
      {
        page.data.map((post) => (
          <div class="warp">
            <div class="card">
              <div class="card__image container">
                <CoverBlog
                  imagePath={String(post.data.heroImage)}
                  altText={post.data.title}
                />
              </div>

              <div>
                <FormattedDate date={post.data.pubDate} />
                <h2 class="title">
                  <a class="token funtion" href={`/blog/${post.slug}/`}>
                    {post.data.title}
                  </a>
                </h2>
                <p class="description">
                  {post.data.description}

                  <a class="token string" href={`/blog/${post.slug}/`}>
                    Leer mas
                  </a>
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </article>
  </section>

  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
  />
</MainLayout>

<style>
  h2 {
    align-items: center;
    display: inline-flex;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-5);
    gap: var(--size-3);
    max-inline-size: var(--size-header-3);
    padding-bottom: var(--size-fluid-1);
    text-wrap: balance;
  }

  .warp {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-block: var(--size-fluid-1);
  }

  .card {
    background-color: var(--surface-2);
    border: var(--border-size-1) solid var(--surface-2);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
    color: var(--text-2);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    max-width: 52rem;
    padding: var(--size-fluid-2) var(--size-fluid-2) var(--size-fluid-2)
      var(--size-fluid-2);
    place-content: center;

    &:hover {
      background-color: var(--surface-1);
      border: var(--border-size-1) solid var(--surface-3);
      box-shadow: var(--shadow-5);
    }

    img {
      border-radius: var(--radius-3);
      height: 14rem;
      max-width: 100%; /* Asegurarse de que la imagen se ajuste al ancho de la columna */
      object-fit: cover;
      width: 18rem;
    }
  }

  .description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-4);
    -webkit-line-clamp: 5;
    line-height: var(--font-lineheight-1);
    overflow: hidden;
    text-indent: 1rem;
  }

  .card__image {
    display: grid;
    gap: 20px;
    grid-column: 1;
  }

  .title {
    display: grid;
    gap: 10px;
    grid-column: 1;
    line-height: var(--font-lineheight-1);
    margin-top: 0;
  }

  @media (width >= 601px) {
    /* Restaurar la cuadrícula de dos columnas en pantallas más grandes */
    .card {
      grid-template-columns: 5fr 8fr;
    }
  }
</style>
