---
import FormattedDate from "./FormattedDate.astro";
import Separator from "./Separator.astro";
import CoverBlog from "./CoverBlog.astro";
const { title, description, pubDate, heroImage } = Astro.props;
---

<section>
  <article>
    <div>
      <CoverBlog imagePath={heroImage} altText={title} />
    </div>

    <div>
      <span><FormattedDate date={pubDate} /></span>
      <h1>{title}</h1>
      <p>{description}</p>
    </div>
  </article><Separator />
</section>
