---
import FormattedDate from "./FormattedDate.astro";
import Separator from "./Separator.astro";
import CoverBlog from "./CoverBlog.astro";
const { title, description, pubDate, heroImage } = Astro.props;
---

<section class="container">
  <article class="card">
    <div class="card__image rad-shadow">
      {heroImage && <CoverBlog imagePath={heroImage} altText={title} />}
    </div>

    <div>
      <span><FormattedDate date={pubDate} /></span>
      <h1 class="card__title">{title}</h1>
      <p class="card__text">{description}</p>
    </div>
  </article><Separator />
</section>

<style>
  h1 {
    max-inline-size: var(--size-header-3);
    font-size: var(--font-size-xl);
    display: inline-flex;
    align-items: center;
    gap: var(--size-3);
    text-wrap: balance;
    padding-bottom: var(--size-fluid-1);
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    padding-top: var(--size-fluid-3);
    padding-bottom: var(--size-fluid-3);
    display: grid;
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    place-content: center;
    grid-gap: 20px;
    border-radius: 8px;

    img {
      max-width: 100%; /* Asegurarse de que la imagen se ajuste al ancho de la columna */
      height: auto; /* Evitar que la imagen se estire */
      object-fit: cover;
      border-radius: var(--radius-3);
      aspect-ratio: var(--ratio-square);
    }
  }

  .card__image {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-column: 1;
    grid-gap: 20px;
    width: 65vw;
  }

  @media (min-width: 601px) {
    /* Restaurar la cuadrícula de dos columnas en pantallas más grandes */
    .card {
      grid-template-columns: 5fr 8fr;
    }

    .card__image {
      display: grid;
      grid-column: 1;
      grid-gap: 20px;
      width: 25vw;
    }
  }

  .rad-shadow {
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem 0.5rem -0.5rem;
    box-shadow:
      0 2.8px 2.2px
        hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
      0 6.7px 5.3px
        hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
      0 12.5px 10px
        hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
      0 22.3px 17.9px
        hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
      0 41.8px 33.4px
        hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
      0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
  }
</style>
