---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import ArrowLeft from "./ArrowLeft.astro";
import ArrowRight from "./ArrowRight.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<section class="blog-carousel">
  <h2>Últimas entradas del Blog</h2>
  <div class="carousel-wrapper">
    <div class="carousel-viewport">
      <div class="carousel-container">
        {
          posts.map((post) => (
            <div class="carousel-item">
              <Card
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
                heroImage={post.data.heroImage}
                slug={post.id}
              />
            </div>
          ))
        }
      </div>
    </div>
    <button class="carousel-button prev" aria-label="Anterior entrada del blog">
      <ArrowLeft />
    </button>
    <button
      class="carousel-button next"
      aria-label="Siguiente entrada del blog"
    >
      <ArrowRight />
    </button>
  </div>
  <div class="more-link">
    <a href="/blog">Ver todas las entradas</a>
  </div>
</section>

<script>
  const carouselWrapper = document.querySelector(".carousel-wrapper");

  if (carouselWrapper) {
    const carouselContainer = carouselWrapper.querySelector(
      ".carousel-container",
    );
    const prevButton = carouselWrapper.querySelector(".carousel-button.prev");
    const nextButton = carouselWrapper.querySelector(".carousel-button.next");

    if (carouselContainer && prevButton && nextButton) {
      const items = carouselContainer.querySelectorAll(".carousel-item");
      const totalItems = items.length;
      let currentIndex = 0;

      function updateCarousel() {
        if (carouselContainer instanceof HTMLElement) {
          carouselContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
        }
      }

      prevButton.addEventListener("click", () => {
        currentIndex = (currentIndex - 1 + totalItems) % totalItems;
        updateCarousel();
      });

      nextButton.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % totalItems;
        updateCarousel();
      });

      if (totalItems <= 1) {
        if (prevButton instanceof HTMLElement)
          prevButton.style.display = "none";
        if (nextButton instanceof HTMLElement)
          nextButton.style.display = "none";
      }
    }
  }
</script>
