---
import FormattedDate from "./FormattedDate.astro";
const { title, description, pubDate, coverBook, author } = Astro.props;
import CoverBook from "./CoverBook.astro";
---

<section class="container">
  <article class="card">
    <div class="card__image">
      <CoverBook imagePath={coverBook} altText={title} />
      <!-- <img src={coverBook} alt="Imagen" /> -->
    </div>

    <div>
      <span><FormattedDate date={pubDate} /></span>
      <h1 class="card__title">{title}</h1>
      <p class="card__text">{author}</p>
      <p class="card__text">{description}</p>
    </div>
  </article><hr />
</section>

<style>
  h1 {
    align-items: center;
    display: inline-flex;
    font-size: var(--font-size-xl);
    gap: var(--size-3);
    max-inline-size: var(--size-header-3);
    padding-bottom: var(--size-fluid-1);
    text-wrap: balance;
  }

  .card {
    border-radius: 8px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    padding-bottom: var(--size-fluid-3);
    padding-top: var(--size-fluid-3);
    place-content: center;
  }

  .card__image {
    display: grid;
    gap: 20px;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;

    img {
      aspect-ratio: 1 / 1.414;
      border-radius: var(--radius-3);
      height: auto; /* Evitar que la imagen se estire */
      max-width: 100%; /* Asegurarse de que la imagen se ajuste al ancho de la columna */
      object-fit: cover;
    }
  }

  @media (width >= 601px) {
    /* Restaurar la cuadrícula de dos columnas en pantallas más grandes */
    .card {
      grid-template-columns: 5fr 8fr;
    }

    .card__image {
      display: grid;
      gap: 20px;
      grid-column: 1;
      width: 25vw;
    }
  }
</style>
