---
import FormattedDate from "./FormattedDate.astro";
import CoverBlog from "./CoverBlog.astro";
import { slugifyStr } from "@utils/slugify";

const { title, description, pubDate, heroImage, slug } = Astro.props;
---

<div>
  <div>
    <div>
      <CoverBlog imagePath={String(heroImage)} altText={title} />
    </div>

    <div>
      <FormattedDate date={pubDate} />
      <h2>
        <a href={`/blog/${slugifyStr(slug)}/`}>
          {title}
        </a>
      </h2>
      <p>
        {description}
        <a href={`/blog/${slugifyStr(slug)}/`}> Leer mas </a>
      </p>
    </div>
  </div>
</div>
