---
import Grid from "./GridBook.astro";
import { getCollection } from "astro:content";
import CoverBook from "./CoverBook.astro";

// Obtenemos todos los libros y los ordenamos por fecha de publicación descendente
const allBooks = (await getCollection("libros")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Nos quedamos solo con los tres más recientes
const featuredBooks = allBooks.slice(0, 3);
---

<section>
  <h2>Libros Destacados</h2>
  <Grid>
    {
      featuredBooks.map((book) => (
        <article>
          <CoverBook
            imagePath={String(book.data.coverBook)}
            altText={book.data.title}
            transition:name={`coverbook ${book.data.title} image`}
          />
          <div>
            <a href={`/libros/${book.id}/`}>
              <h3>{book.data.title}</h3>
            </a>
          </div>
        </article>
      ))
    }
  </Grid>
</section>
