---
import Grid from "./GridBook.astro";
import { getCollection } from "astro:content";
import CoverBook from "./CoverBook.astro";

// Obtenemos todos los libros y los ordenamos por fecha de publicación descendente
const allBooks = (await getCollection("libros")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Nos quedamos solo con los tres más recientes
const featuredBooks = allBooks.slice(0, 3);
---

<section>
  <h2 class="warp">Libros Destacados</h2>
  <Grid>
    {
      featuredBooks.map((book) => (
        <article class="card">
          <CoverBook
            imagePath={String(book.data.coverBook)}
            altText={book.data.title}
            transition:name={`coverbook ${book.data.title} image`}
          />
          <div class="content">
            <a href={`/libros/${book.slug}/`}>
              <h3>{book.data.title}</h3>
            </a>
          </div>
        </article>
      ))
    }
  </Grid>
</section>

<style>
  section {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .warp {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-block: var(--size-fluid-3);
  }

  .content {
    position: absolute;
    right: var(--size-fluid-1);
    left: var(--size-fluid-1);
    bottom: var(--size-fluid-1);
    padding-top: var(--size-5);
    padding-bottom: var(--size-5);
    padding-left: var(--size-6);
    padding-right: var(--size-6);
    margin: var(--size-2);
    border-radius: var(--size-2);
    height: max-content;
    background-color: var(--surface-1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition:
      opacity 0.5s,
      transform 0.5s,
      visibility 0s 0.5s;
  }

  .card {
    position: relative;
    box-shadow: var(--shadow-2);
    background-color: var(--surface-2);
    color: var(--text-2);
    margin-inline: auto;
    padding: var(--size-fluid-1);
    border: var(--border-size-1) solid var(--surface-2);
    border-radius: var(--radius-3);
    overflow: hidden;
    transition:
      background-color 0.3s,
      box-shadow 0.3s,
      border-color 0.3s;
  }

  .card:hover {
    border-color: var(--surface-3);
    background-color: var(--surface-1);
    box-shadow: var(--shadow-5);
  }

  .card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition:
      opacity 0.5s,
      transform 0.5s,
      visibility 0s;
    animation: var(--animation-slide-in-up);
  }

  h3 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-6);
    padding-bottom: 8px;
  }
</style>
