---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import BlogHero from "../components/BlogHero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/blog.css";
// SpeedInsights of vercel
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = CollectionEntry<"blog">["data"] & { slug?: string };

const { title, description, pubDate, heroImage, slug } = Astro.props;

// Determine OG Image
const ogImage = slug ? `/og/${slug}.png` : "/Portada.png";
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={ogImage} />
  </head>

  <body>
    <Header />
    <main>
      <BlogHero
        title={title}
        heroImage={heroImage}
        description={description}
        pubDate={pubDate}
      />
      <article>
        <slot />
      </article>
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
