---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import BookHero from "@components/BookHero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

// SpeedInsights of vercel
import SpeedInsights from "@vercel/speed-insights/astro";
type Props = CollectionEntry<"libros">["data"] & { slug?: string };

const { title, description, pubDate, coverBook, downloadBook, slug } =
  Astro.props;

// Determine OG Image
const ogImage = slug ? `/og/libros/${slug}.png` : "/Portada.png";
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={ogImage} />
  </head>

  <body>
    <Header />
    <main>
      <BookHero
        title={title}
        coverBook={coverBook}
        description={description}
        pubDate={pubDate}
        downloadBook={downloadBook}
        transition:name=`coverbook ${title} image`
      />
      <article>
        <slot />
        <h2>Descargar</h2>
        <p>Descarga externa via Google Drive</p>
        <a href={downloadBook} target="_blank"> Descargar</a>
      </article>
    </main>
    <Footer />

    <SpeedInsights />
  </body>
</html>
